<h1>Plant Info</h1>

<h3>Categories</h3>
<ul>
<% @plant.categories.each do |category| %>
<li><%= category.name %></li>
<% end %>
</ul>

<h2><%= @plant.name %></h2>
<img class="plant-image" src="<%= Image.find_by(plant_id: @plant.id).url %>">
<p>Price: $<%= @plant.price %></p>


<p><%= @plant.description %></p>

<%= form_tag "/plants/#{@plant.id}", method: :destroy do %>
  <input type="submit" value="Destroy Plant Information">
<% end %>
<a href="/plants">Back to all plants</a>

<h3>Order:</h3>
<%= form_tag "/carted_plants", method: :post do %>

<div>
Quantity: <input type="text" value="Insert quantity" name="quantity">
<%= hidden_field_tag 'plant_id', @plant.id %>

</div>

<input type="submit" value="Add to Cart">
<% end %>